<html><head></head><body><h1>{{ .key_01 }}</h1>

<p>{{ .key_02 }}</p>

<h2>{{ .key_03 }}</h2>

<p>{{ .key_04 }}<a href="https://github.com/getlantern">{{ .key_05 }}</a></p>

<h2>{{ .key_06 }}</h2>

<p>{{ .key_07 }}<a href="https://lantern.io/download">{{ .key_08 }}</a></p>

<h2>{{ .key_09 }}</h2>

<p>{{ .key_10 }}</p>

<p>{{ .key_11 }}</p>

<table>
<thead>
<tr>
<th>{{ .key_12 }}</th>
<th>{{ .key_13 }}</th>
</tr>
</thead>

<tbody>
<tr>
<td>{{ .key_14 }}</td>
<td>{{ .key_15 }}</td>
</tr>

<tr>
<td>{{ .key_16 }}</td>
<td>{{ .key_17 }}</td>
</tr>

<tr>
<td>{{ .key_18 }}</td>
<td>{{ .key_19 }}</td>
</tr>

<tr>
<td>{{ .key_20 }}</td>
<td>{{ .key_21 }}</td>
</tr>
</tbody>
</table>

<h1>{{ .key_22 }}</h1>

<ol>
<li>{{ .key_23 }}</li>
<li>{{ .key_24 }}<code>{{ .key_25 }}</code></li>
<li>{{ .key_26 }}<code>{{ .key_27 }}</code></li>
<li>{{ .key_28 }}<code>{{ .key_29 }}</code></li>
</ol>

<p>{{ .key_30 }}<a href="#Downloads">{{ .key_31 }}</a>{{ .key_32 }}</p>

<h2>{{ .key_33 }}</h2>

<ol>
<li>{{ .key_34 }}</li>
<li>{{ .key_35 }}<code>{{ .key_36 }}</code></li>
<li>{{ .key_37 }}<code>{{ .key_38 }}</code></li>
<li>{{ .key_39 }}</li>
</ol>

<p>{{ .key_40 }}<a href="https://github.com/getlantern#release-notes">{{ .key_41 }}</a>{{ .key_42 }}</p>

<hr/>

<p><img src="picture.jpg" alt="Alt text"/></p>
</body></html>