<html><head></head><body><h1>{{ .key_01 }}</h1>

<h2>{{ .key_02 }}</h2>

<p><a href="https://github.com/getlantern">{{ .key_03 }}</a>{{ .key_04 }}</p>

<h2>{{ .key_05 }}</h2>

<p><a href="https://lantern.io/download">{{ .key_06 }}</a>{{ .key_07 }}</p>

<h2>{{ .key_08 }}</h2>

<p>{{ .key_09 }}</p>

<p>{{ .key_10 }}</p>

<table>
<thead>
<tr>
<th>{{ .key_11 }}</th>
<th>{{ .key_12 }}</th>
</tr>
</thead>

<tbody>
<tr>
<td>{{ .key_13 }}</td>
<td>{{ .key_14 }}</td>
</tr>

<tr>
<td>{{ .key_15 }}</td>
<td>{{ .key_16 }}</td>
</tr>

<tr>
<td>{{ .key_17 }}</td>
<td>{{ .key_18 }}</td>
</tr>

<tr>
<td>{{ .key_19 }}</td>
<td>{{ .key_20 }}</td>
</tr>
</tbody>
</table>

<h1>{{ .key_21 }}</h1>

<p>{{ .key_22 }}<code>{{ .key_23 }}</code>{{ .key_24 }}<code>{{ .key_25 }}</code>{{ .key_26 }}<code>{{ .key_27 }}</code>{{ .key_28 }}</p>

<h2>{{ .key_29 }}</h2>

<p>{{ .key_30 }}<code>{{ .key_31 }}</code>{{ .key_32 }}<code>{{ .key_33 }}</code>{{ .key_34 }}</p>

<p>{{ .key_35 }}<a href="https://github.com/getlantern#release-notes">{{ .key_36 }}</a>{{ .key_37 }}</p>
</body></html>